.DS_Store


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Data
data/ds005/
data/ds005/subtest/BOLD/task001_run001/bold.nii.gz
data/ds005/subtest/BOLD/task001_run002/bold.nii.gz
data/ds005/subtest/BOLD/task001_run003/bold.nii.gz
data/ds005/subtest/model/model001/task001_run001.feat/filtered_func_data_mni.nii.gz
data/ds005/subtest/model/model001/task001_run002.feat/filtered_func_data_mni.nii.gz
data/ds005/subtest/model/model001/task001_run003.feat/filtered_func_data_mni.nii.gz

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
doc/build/
doc/source/_static/test.png

\#*
*~
